---
import { resumeData, getSocialLink } from "../../data/resume";

const today = new Date();
const { contact } = resumeData;
const linkedIn = getSocialLink("LinkedIn");
const github = getSocialLink("GitHub");
---

<footer class='mx-auto mt-24 w-full' id='footer'>
  <div class='border-t border-border pt-5'>
    <div
      class='flex flex-col items-center gap-y-3 sm:flex sm:flex-row sm:items-center sm:justify-between sm:gap-y-0'
    >
      <div class='flex gap-x-4 text-sm'>
        <p class=''>
          &copy; {today.getFullYear()}
          {contact.name}. All rights reserved. Opinions are my own.
        </p>
      </div>

      <div class='flex items-center justify-between'>
        <!-- Social Brands -->
        <div class='flex items-center gap-x-4'>
          <a href={linkedIn?.url} target='_blank' rel='noopener noreferrer'>
            <span class='sr-only'
              >Go to my LinkedIn profile (opens in new tab)</span
            >
            <svg
              width='24'
              height='24'
              viewBox='0 0 24 24'
              aria-hidden='true'
              fill='none'
              stroke='currentColor'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
            >
              <path d='M8 11v5m0-8v.01M12 16v-5m4 5v-3a2 2 0 1 0-4 0' />
              <path
                d='M3 7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4z'
              />
            </svg>
          </a>

          <a href={github?.url} target='_blank' rel='noopener noreferrer'>
            <span class='sr-only'
              >Go to my GitHub profile (opens in new tab)</span
            >
            <svg
              width='24'
              height='24'
              viewBox='0 0 24 24'
              aria-hidden='true'
              fill='none'
              stroke='currentColor'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
            >
              <path
                d='M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2c2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2a4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6c-.6.6-.6 1.2-.5 2V21'
              />
            </svg>
          </a>
        </div>
        <!-- End Social Brands -->
      </div>
    </div>
  </div>
</footer>
