---

---

<header
  class='mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap sm:justify-start'
>
  <nav
    class='relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center'
    aria-label='global'
  >
    <div class='flex flex-row items-center justify-center gap-x-2 sm:gap-x-3'>
      <button
        id='toggleDarkMode'
        class='w-8 h-8 -mr-2 flex items-center justify-center cursor-pointer'
        aria-label='Change color scheme'
      >
        <svg
          class='w-4 h-4 fill-current dark:text-white text-black'
          viewBox='0 0 16 16'
          xmlns='http://www.w3.org/2000/svg'
          aria-hidden='true'
        >
          <circle cx='8' cy='8' r='8'></circle>
        </svg>
      </button>

      <a
        class='flex-none text-base sm:text-[1.05rem] font-semibold leading-none'
        href='/'
        aria-label='funk'>funk</a
      >
    </div>

    <a
      href='#content'
      class='sr-only focus:not-sr-only focus:block focus:static focus:z-50 focus:p-4 m-4'
      >Skip to content</a
    >

    <a
      href='#footer'
      class='sr-only focus:not-sr-only focus:block focus:static focus:z-50 focus:p-4 m-4'
      >Skip to footer</a
    >

    <div class='flex flex-row items-center justify-center gap-x-3 sm:gap-x-7'>
      <a
        href='/resume'
        class='flex-none text-sm sm:text-[1.05rem] font-medium leading-none hover:text-foreground/75'
        aria-label='Resume page'
        >Resume
      </a>
      <a
        href='/contracting'
        class='flex-none text-sm sm:text-[1.05rem] font-medium leading-none hover:text-foreground/75'
        aria-label='Contracting page'
        >Contracting
      </a>
      <a
        href='/tools'
        class='flex-none text-sm sm:text-[1.05rem] font-medium leading-none hover:text-foreground/75'
        aria-label='Tools page'
        >Tools
      </a>
      <a
        href='/blog'
        class='flex-none text-sm sm:text-[1.05rem] font-medium leading-none hover:text-foreground/75'
        aria-label='Blog page'
        >Blog
      </a>
    </div>
  </nav>
</header>

<script>
  import { toggleTheme } from "../../utils/theme";

  document
    .getElementById("toggleDarkMode")
    ?.addEventListener("click", toggleTheme);
</script>
