---

---

<header
  class='mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap sm:justify-start'
>
  <nav
    class='relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center'
    aria-label='global'
  >
    <a class='flex-none text-xl font-semibold' href='/' aria-label='funk'
      >funk</a
    >

    <a
      href='#content'
      class='sr-only focus:not-sr-only focus:block focus:static focus:z-50 focus:p-4 m-4'
      >Skip to content</a
    >

    <a
      href='#footer'
      class='sr-only focus:not-sr-only focus:block focus:static focus:z-50 focus:p-4 m-4'
      >Skip to footer</a
    >

    <div class='flex flex-row items-center justify-center gap-x-5 sm:gap-x-7'>
      <a
        href='/blog'
        class='flex-none text-[1.05rem] font-medium hover:text-foreground/75'
        aria-label='Blog page'
        >Blog
      </a>
      <a
        href='/tools'
        class='flex-none text-[1.05rem] font-medium hover:text-foreground/75'
        aria-label='Tools page'
        >Tools
      </a>

      <button
        id='toggleDarkMode'
        class='w-8 h-8 -mr-2 flex items-center justify-center cursor-pointer'
        aria-label='Change color scheme'
      >
        <svg
          class='w-4 h-4 fill-current dark:text-white text-black'
          viewBox='0 0 16 16'
          xmlns='http://www.w3.org/2000/svg'
          aria-hidden='true'
        >
          <circle cx='8' cy='8' r='8'></circle>
        </svg>
      </button>
    </div>
  </nav>
</header>

<script>
  function getCurrentTheme() {
    return localStorage.getItem("theme");
  }

  const toggleDarkModeButton = document.getElementById("toggleDarkMode");

  toggleDarkModeButton?.addEventListener("click", () => {
    const theme = getCurrentTheme() === "light" ? "dark" : "light";

    const toggleDarkModeEvent = new CustomEvent("theme-change", {
      detail: { theme },
    });
    document.dispatchEvent(toggleDarkModeEvent);
  });
</script>
